---
layout: "main"
title: "The blog"
---

.blog-listing.dbl-gutter
	each page in getCollection('blog').toJSON()
		._story
			a.no-link-style(href='#{ page.url }')
				h2._title
					span !{ page.title }
				._details !{ page.author } - !{ formatDate(page.display_date, 'LL') }
				blockquote._excerpt !{ truncate(page.excerpt, 350) }
